
@{
    ViewBag.Title = "LessonProject";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>LessonProject</h2>

<p>

    <div class="menu">
        <a href="@Url.Action("Index", "Role", new { id = "1" })">Роли</a>
        @Html.ActionLink("Пользователи", "Index", "User")
</p>

